.LandingPage {
  height: 100vh !important;
}

.LandingPage .btn-violet {
  color: white;
  background-color: #6f42c1;
  border: 1px solid #6f42c1;
  border-radius: 3px;
  font-size: 0.65rem;
}

.LandingPage .btn-violet:hover {
  color: #6f42c1;
  background-color: transparent;
}

.LandingPage .landing-main {
  height: 90vh;
}

.LandingPage p {
  font-size: 0.9rem;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .LandingPage .col-md-8 {
    margin-top: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
